{% extends 'home/base.html' %}

{% block title %}Учителя{% endblock %}

{% block content %}
{% load static %}

<section class="team-section-4 fix section-padding">
    <div class="container">
        <div class="row g-4">
            <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".2s">
                <div class="team-items">
                    <div class="team-image">
                        <div class="shape-img">
                            <img src="{% static 'home/assets/img/team/team-shape.png' %}" alt="img">
                        </div>
                        <img src="{% static 'home/assets/img/team/teach 1.jpg' %}" alt="team-img">
                    </div>
                    <div class="team-content">
                        <h3>
                            <a href="team-details.html">Ирина Александровна</a>
                        </h3>
                        <p>Учитель английского языка</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".4s">
                <div class="team-items">
                    <div class="team-image">
                        <div class="shape-img">
                            <img src="{% static 'home/assets/img/team/team-shape.png' %}" alt="img">
                        </div>
                        <img src="{% static 'home/assets/img/team/teach 2.jpg' %}"" alt="team-img">
                    </div>
                    <div class="team-content">
                        <h3>
                            <a href="team-details.html">Альбина Гумеровна</a>
                        </h3>
                        <p>Учитель Science и биологии</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".6s">
                <div class="team-items">
                    <div class="team-image">
                        <div class="shape-img">
                            <img src="{% static 'home/assets/img/team/team-shape.png' %}" alt="img">
                        </div>
                        <img src="{% static 'home/assets/img/team/teach 3.jpg' %}"" alt="team-img">
                    </div>
                    <div class="team-content">
                        <h3>
                            <a href="team-details.html">Равиля Лукмановна</a>
                        </h3>
                        <p>Учитель русского языка и литературы</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".8s">
                <div class="team-items">
                    <div class="team-image">
                        <div class="shape-img">
                            <img src="{% static 'home/assets/img/team/team-shape.png' %}" alt="img">
                        </div>
                        <img src="{% static 'home/assets/img/team/teach 4.jpg' %}"" alt="team-img">
                    </div>
                    <div class="team-content">
                        <h3>
                            <a href="team-details.html">Мохина Абдувалиевна</a>
                        </h3>
                        <p>Учитель английского языка</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".2s">
                <div class="team-items">
                    <div class="team-image">
                        <div class="shape-img">
                            <img src="{% static 'home/assets/img/team/team-shape.png' %}" alt="img">
                        </div>
                        <img src="{% static 'home/assets/img/team/teach 5.jpg' %}"" alt="team-img">
                    </div>
                    <div class="team-content">
                        <h3>
                            <a href="team-details.html">Валерия Сергеевна</a>
                        </h3>
                        <p>Учитель математики</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".4s">
                <div class="team-items">
                    <div class="team-image">
                        <div class="shape-img">
                            <img src="{% static 'home/assets/img/team/team-shape.png' %}" alt="img">
                        </div>
                        <img src="{% static 'home/assets/img/team/teach 6.jpg' %}"" alt="team-img">
                    </div>
                    <div class="team-content">
                        <h3>
                            <a href="team-details.html">Владислава Анваровна</a>
                        </h3>
                        <p>Учитель русского языка и литературы</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".6s">
                <div class="team-items">
                    <div class="team-image">
                        <div class="shape-img">
                            <img src="{% static 'home/assets/img/team/team-shape.png' %}" alt="img">
                        </div>
                        <img src="{% static 'home/assets/img/team/teach 7.jpg' %}"" alt="team-img">
                    </div>
                    <div class="team-content">
                        <h3>
                            <a href="team-details.html">Аза Олеговна</a>
                        </h3>
                        <p>Учитель французского языка</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".8s">
                <div class="team-items">
                    <div class="team-image">
                        <div class="shape-img">
                            <img src="{% static 'home/assets/img/team/team-shape.png' %}" alt="img">
                        </div>
                        <img src="{% static 'home/assets/img/team/teach 8.jpg' %}"" alt="team-img">
                    </div>
                    <div class="team-content">
                        <h3>
                            <a href="team-details.html">Шахноза Шухратовна</a>
                        </h3>
                        <p>Учитель английского языка</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".8s">
                <div class="team-items">
                    <div class="team-image">
                        <div class="shape-img">
                            <img src="{% static 'home/assets/img/team/team-shape.png' %}" alt="img">
                        </div>
                        <img src="{% static 'home/assets/img/team/teach 9.jpg' %}"" alt="team-img">
                    </div>
                    <div class="team-content">
                        <h3>
                            <a href="team-details.html">Наргиза Алиевна</a>
                        </h3>
                        <p>Учитель английского языка</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".8s">
                <div class="team-items">
                    <div class="team-image">
                        <div class="shape-img">
                            <img src="{% static 'home/assets/img/team/team-shape.png' %}" alt="img">
                        </div>
                        <img src="{% static 'home/assets/img/team/teach 10.jpg' %}"" alt="team-img">
                    </div>
                    <div class="team-content">
                        <h3>
                            <a href="team-details.html">Галина Эркиновна</a>
                        </h3>
                        <p>Учитель русского языка и литературы</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}