{% extends 'online_test/base.html' %}

{% block content %}
<div class="card border-dark mb-3">
    <div class="card-header">Выберите класс</div>
    <div class="card-body text-dark">
        <div class="btn-group" role="group" aria-label="Basic outlined">
            <a href="5" class="btn btn-outline-primary">5 класс</a>
            <a href="6" class="btn btn-outline-primary">6 класс</a>
            <a href="7" class="btn btn-outline-primary">7 класс</a>
            <a href="8" class="btn btn-outline-primary">8 класс</a>
            <a href="9" class="btn btn-outline-primary">9 класс</a>
            <a href="10" class="btn btn-outline-primary">10 класс</a>
            <a href="11" class="btn btn-outline-primary">11 класс</a>
        </div>
    </div>
  </div>
{% endblock %}